* {
    background-color: black;
    color: white;
    
    font-size: 20px;
    font-family: monospace;
}
body {
    padding: 10px;
    margin: 0;

    text-align: center;
}
.box {
    border: 1px solid white;
    border-radius: 5px; 

    margin: 20px;
    padding: 10px;

    display: flex;
    flex-direction: column;
}